@model TopMenuModel.SpecAttrLineModel
<li class="@(Model.CateSpecAttr.CateSaoSimpleModels.Count > 0 ? "menu-item-has-children" : string.Empty)">
    <a href="#">@Model.CateSpecAttr.SpecificationAttrName</a>
    @{
        //subcategories
        var subSpecs = Model.CateSpecAttr.CateSaoSimpleModels;

        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (subSpecs.Count > 0)
        {
        <div class="sublist-toggle"></div>
        <ul class="sub-menu @levelClass">
            @foreach (var subItem in subSpecs)
                {
                    var categoryLineModel = new TopMenuModel.SpecAttrOptionLineModel()
                    {
                        CateSaoModel = subItem,
                        Level = Model.Level + 1,
                        ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                    };
                    @await Html.PartialAsync("_SpecAttributeOptionLine.TopMenu", categoryLineModel)
                }
        </ul>
        }
    }
</li>