@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="widget widget-category-icon">
        <h2 class="title-widget title18">@T("Categories")</h2>
        <div class="list-cat-icon2">
            <ul class="list-none">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}