@model List<Nop.Web.Models.Slider.SliderModel>
<div class="banner-slider banner-slider5 bg-slider">
    <div class="wrap-item" data-itemscustom="[[0,1]]" data-transition="fade">
        <div class="item-slider">
            <div class="banner-thumb">
                <a href="#" tabindex="0"><img src="images/home/home5/slide1.jpg" alt=""></a>
            </div>
            <div class="banner-info">
                <div class="container">
                    <div class="banner-info5 font-bold white animated" data-animated="zoomIn">
                        <h3 class="title60">superfast</h3>
                        <h2><span class="black bg-color animated" data-animated="rotateIn">R</span>unning</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-slider">
            <div class="banner-thumb">
                <a href="#" tabindex="0"><img src="images/home/home5/slide2.jpg" alt=""></a>
            </div>
            <div class="banner-info">
                <div class="container">
                    <div class="banner-info5 font-bold white animated" data-animated="zoomIn">
                        <h3 class="title60">rio 2016</h3>
                        <h2><span class="black bg-color animated" data-animated="rotateIn">K</span>appa</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-slider">
            <div class="banner-thumb">
                <a href="#" tabindex="0"><img src="~/images/home/home5/slide3.jpg" alt=""></a>
            </div>
            <div class="banner-info">
                <div class="container">
                    <div class="banner-info5 font-bold white animated" data-animated="zoomIn">
                        <h3 class="title60">SWIMMING</h3>
                        <h2><span class="black bg-color animated" data-animated="rotateIn">B</span>ooke</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ENd Banner SLider -->