@model ProductDetailsModel
@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            <span class="inout-stock in-stock"><span>@T("Products.Availability"):</span> @Model.StockAvailability</span>
            @*<div class="stock">
                <span class="label">@T("Products.Availability"):</span>
                <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
            </div>*@
        }
        @*@await Html.PartialAsync("_BackInStockSubscription", Model)*@
}