@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}
<div class="content-about cart-content-page">
    <div class="page-title">
        <h2 class="title30 text-uppercase font-bold dark title-box5">@T("ShoppingCart")</h2>
    </div>
    @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
</div>
